h1 {
  margin-top: 100px;
  margin-bottom: 1vw;
  text-align: center;
  font-size: 5vw;
}

.label_1 {
  display: inline-block;
  font-size: 2vw;
  margin-left: 3vw;
  margin-right: 2vw;
}

.label_2 {
  display: inline-block;
  font-size: 2vw;
  margin-left: 1.4vw;
  margin-right: 2vw;
}

.label_3 {
  display: inline-block;
  font-size: 2vw;
  margin-left: 0.5vw;
}

.edit {
  display: inline-block;
}

.edit.from {
  margin-left: 27vw;
  margin-right: 2vw;
}

.edit.to {
  margin-left: 2.5vw;
}

.button {
  width: 100vw;
  text-align: center;
  margin-bottom: 1.8vw;
}