.swapButton {
    font-size: 1.5vw;
    background-color: rgb(247, 255, 203);
    border-radius: 10px;
    border: 5px solid khaki;
}

.swapButton:hover{
    background-color: khaki;
    transition: all 0.2s linear;
}